@charset "UTF-8";

body {
	background-color:  #181f21;
}

h1 {
	color:  #dadada;
	text-align: center;
	font-family: Roboto Mono;
}

p {
	font-family: Fira Mono;
	font-size: 20px;
	color: #b3b9b8;
}

p2 {
	font-family: verdana;
	font-size: 20px;
	color: #b3b9b8;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #181f21;
  color: #b3b9b8;
  text-align: center;
}

a{
  text-decoration: none;
  color: #67b0e8;
}

.ul1{
  position: relative;
}

.ul1::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #67b0e8;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .ul1:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #181f21;
  color: #b3b9b8;
  text-align: center;
}
